#SergioCopy, #KrisCopy, #AhmedCopy{
    opacity: 0;
    position: fixed;
    inset: 0px;
    padding: 2em;
    background: rgba(239, 239, 239, 1);
    z-index: 99;
    display: none;
    transition: all ease-in-out 1s;
    overflow-y: auto;
}
#SergioCopy div:first-child, #KrisCopy div:first-child,#AhmedCopy div:first-child{
    background-color: white;
}
#SergioCopy.active,#KrisCopy.active,#AhmedCopy.active{
    display: block;
    opacity: 1;
}

body.modal-open {
    overflow: hidden;
}
@keyframes width {
    0%{
        transform: scaleX(0%);
    }
    100%{
        transform: scaleX(100%);
    }
}

