.indexpages{
padding-top: 10em;
}

.indexpages .container{
    gap:2em

}
.article .article-header .article-category{
    padding: 0.2em 2em;
    background-color: var(--colorBluesky);
    color: white!important;
    border-radius: var(--borderRadius);
    width: fit-content;
} 

.blog header{
    top: 0;
}

.read-more-link{
    display: inline-block;
}
.comment-author.vcard{
    width: 20px;
}

p.article-category a {
    color: white;
}

@media screen and (max-width:540px) {
    .indexpages .container{
      flex-direction: column;   
    }
}

.banner-principal{
    padding-top: 10em;
}