.indexpages .container{
    gap:2em;
    grid-template-columns: repeat(auto-fill,minmax(18em,1fr));
}
.indexpages .title{
    padding: 1em;
    color: black;
    margin-top: 0 ;
    margin-bottom: 0;

}
.indexpages .container :first-child{
    grid-column: 1 / -1;
    display: flex;
    align-items:center;
    min-width: 50%;

}
.indexpages article:first-child{
    margin-bottom: 2em;
}


.attachment-blog-size-image{
    border-radius: var(--borderRadius);
    min-height: 17em;
    max-height: 17em;
    object-fit: cover;
}
.indexpages article:first-child .attachment-blog-size-image{
    max-height: 27em;
}
.indexpages .container :first-child .article-content{
    padding: 2em;
}
.indexpages .container :first-child .article-content h2{
    font-size: 2em;
    margin: 0;
}
.article-category > *{
    text-align: left;
}
.article-content h2 a{
    color: var(--colorBlueDark)!important;
    font-size: 1.5em;
}
.article .article-header .article-category{
    padding: 0.2em 2em;
    background-color: var(--colorBluesky);
    color: white!important;
    border-radius: var(--borderRadius);
    width: fit-content;
} 

.blog header{
    top: 0;
}

.read-more-link{
    display: inline-block;
}
.comment-author.vcard{
    width: 20px;
}
.article-category{
    margin-bottom: 0;
}
.article-category a {
    color: var(--colorBluesky);
}

.article-content .title-home{
    font-size: 1em;
    min-height: 6em;
}
@media screen and (max-width:699px) {
    .indexpages .container{
        gap:2em;
        grid-template-columns: repeat(auto-fill,minmax(15em,1fr));
    }
    .indexpages .container :first-child .article-content h2 {
        font-size: 1.5em;
    }
    .indexpages .container :first-child{
      flex-direction: column;   
    }
    .indexpages .container :first-child .attachment-blog, .indexpages .container :first-child .article-content{
        width: 100%;
    }
}
@media screen and (max-width:540px) {
    .indexpages .container{
      flex-direction: column;   
    }

}


.article-date{
    margin: 0;
}
.banner{
    height: 25em;
    width: 100%;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 35px;
}

.indexpages a{
    color: var(--colorBluesky);
}

.container.banner-principal{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    flex-direction: row-reverse;
	background-color: #E9FFC6;
}
.wp-block-heading{
    font-size: 1.8em;
    color: var(--colorBluesky);
}
.article-content a{
    color: var(--colorBluesky);
}
.blog .article-content ul li{
	list-style: disc!important;
	color: initial!important;
}

.blog .container .listado-articulos .article-content{
    width: 70%;
    margin: 0 auto;
}
.blog .call-to-action{
    border-radius: 15px
}
@media screen and (max-width:769px) {
    .container.banner-principal{
        flex-direction: column;
    }
    .article-content{
        width: 100%;
    }
}