.greyColor{
    background-color: #F1F7FB;
}
.features .container span{
    display: inline-block;
    margin-bottom: 1rem;

}
.features .container h2{
    font-size:2.5rem ;
    margin-bottom: 4rem;
}

.container-features{
    grid-template-columns: repeat(auto-fill, minmax(14rem,1rem));
    gap:2.85rem ;
}
.container-features.threeColumns{
    grid-template-columns: repeat(auto-fill, minmax(15.2rem,1rem));
}
.copy{
    margin-left: .5rem;
}
.copy h3{
    margin: 0;
}
.copy p{
    text-align: left;
}

.feature.flex.colum{
    flex-direction: column;
}
.container-icons{
    width: 6rem;
    height: 6rem;
    position: relative;
    margin-bottom: 1.5rem;
   
}
.icon-back{
    width: 6rem;
    height: 6rem;
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 0 auto;
    transition: all ease 1s;
}
.feature.flex.colum:hover .icon-back{
    transform: rotate(180deg);
}
.feature.flex.colum .icon{
    width:3rem!important;
    height: auto;
    z-index: 2;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}

.container-features.threeColumns .copy{
    text-align: left;
}