footer{
    background-color: var(--colorBlueDark );
}
footer .container{
    background-color: var(--colorBlueDark );
    padding-bottom: 0;
}

footer > *, footer a{
 color: white;
}

footer .logo{
    width:13em;
    margin-bottom: 2em;
}

.stiker-partner{
    width: 5em;
    margin-left: 4em;
}

.logos-container{
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: flex-start;
}
.info-container{
    width: 60%;
}
.info{
    grid-template-columns: repeat(auto-fill,minmax(8.5em,1fr));
    grid-template-rows: 2fr;
    gap: 1em;
}

.sub-footer.container{
    padding-top: 0;
    padding-bottom: ;
}
@media screen and (min-width:1444px) {
    
    .sub-footer-container:last-child{
        grid-column: 4 / 6;
    }
}
.info .btn{
    display: inline-block;
    margin-bottom: 1.5em;
    width: 85%;
    text-align: center;
}

.social-container{
    text-align: center;
    margin-bottom: 1em;
}
.social-container a{
    margin-left: 1em;
}
.copyright p{
    text-align: center;
    color: white;
}
.sub-footer-container h2{
    margin-top: 0;
}
.sub-footer-container ul{
    padding-left: 0;
}
.sub-footer-container ul li{
    margin-bottom: .7em;
}

.sub-footer-container ul li a:hover{
    color: var(--colorYellow);
}
@media screen and (max-width:575px) {

    footer .container{
        flex-direction: column;
        align-items: center;
    }

    .info{
      text-align: center;
    }
    
    .info .btn{
        width: 100%;
        text-align: center;
        margin-bottom: 1em;
    }
    .stiker-partner{

        margin-left: 0;
    }
    .logos-container{
        width: 100%;
        align-items: center;
    }
}

.sub-footer.container{
padding-bottom: 1em;
}