.forminator-response-message.forminator-error{

    background-color: var(--colorYellow);
    border-radius: var(--borderRadius);
    padding: 1em;

}
.forminator-response-message.forminator-show.forminator-success{

    background-color: var(--colorGreen);
    border-radius: var(--borderRadius);
    padding: 1em;

}

#contact-us form .forminator-field .forminator-label{
    color: #21146f!important;
    margin-bottom:1rem!important;
    font-size: 21px!important;
}

form .forminator-field .forminator-input{
    padding: 1em!important;
    border-radius: 1em!important;
    margin-left: 0!important;
    background-color: white!important;
}

/*submit button*/
form .forminator-button-submit{
    border-radius: var(--borderRadius)!important;
    background-color: var(--colorGreen)!important;
    padding: 1em 3em!important;
    font-size: 1em!important;
    font-weight: 700!important;
}

.forminator-textarea{
    border-radius: 15px!important;
    background-color: white!important;
}

.forminator-ui#forminator-module-481.forminator-design--default .forminator-select2 + .forminator-select .selection .select2-selection--single[role="combobox"] {
    border-color: white!important;
    background-color: transparent!important;
    padding: .5rem;
    border-radius: 2rem;

}

#contact-us form input::placeholder,#contact-us form textarea{
    color: #21146f!important;
}