@import url('https://fonts.googleapis.com/css2?family=Jost:wght@500;700&display=swap');
:root{
    font-weight: 400;
    font-size: 20px;
    --paddingContainer:3.22em; 
<<<<<<< HEAD
    --colorYellow:#FAB100;
    --colorBluesky :#009FEF;
    --colorRed:#FF0000;
    --colorGreen:#58F4A9;
=======
    --colorYellow:#E8B900;
    --colorBluesky :#159CE8;
    --colorRed:#EE451C;
    --colorGreen:#81CE24;
>>>>>>> d989a2a5e37685f9be05ebe2d73760bbe9608f36
    --colorgrey:#424242;
    --colorBlueDark:#000C30;
    --borderRadius:25px;
    --colorlightGrey:#7D7D7D;
    scroll-behavior: smooth;
    --white:white
    

}
table{
    table-layout: fixed;
}
::-webkit-scrollbar {
    width: 17px;
    background:#dddddd;
  }
  ::-webkit-scrollbar-thumb {
    background: var(--colorRed);
    border-radius: 15px;
    transition: background ease-in-out 0.5s;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: var(--colorGreen);
  }
*{
    font-family: 'Jost', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box!important;
}
.container{
    max-width:1680px;
    margin: 0 auto;
    padding:var(--paddingContainer) ;
}
/*Displays*/
.flex{
    display: flex;
}
.flex.flex-start{

    justify-content: flex-start;
}
.flex.space-between{

    justify-content: space-between;
}
.flex.space-around{

    justify-content: space-around;
}
.flex.space-evenly{

    justify-content: space-evenly;
}

.flex.center{

    justify-content: center;
}

.flex.center.center{
    align-items: center;
    gap: 2rem;
}

.grid{
    display:grid;
    gap: 1em;
}
.grid.column-3{
    grid-template-columns: repeat(auto-fill,minmax(10rem,1fr));
    width: 60%;
}

.grid.center{
    place-items: center;
    place-content: center;
}

.grid.space-evenly{
    justify-content: space-evenly;
}

/*Buttons*/

.btn{
    padding: .6em 2em;
    border-radius: 50px;
    color: white!important;
    font-weight: 700;
    transition: .5s all ease-in-out;
    
}
.btn.red-outline{
    border: 2px solid var(--colorRed);
    background-color: white;
    color: black!important;
}
.btn.red{
    background-color:var(--colorRed) ;
}
.btn.yellow{
    background-color:var(--colorYellow) ;
}
.btn.BlueSky{
    background-color:var(--colorBluesky) ;
}
.btn.Red{
    background-color:var(--colorRed) ;
}
.btn.White{
    background-color:white;
    color: var(--colorRed);
}
.btn.green{
    background-color:var(--colorGreen);
    color:#6B1DCE
}


/*Images*/

img{
    width: 100%;
    height: auto;
}
/*Titles*/
h1,.title{
    font-size: 2.77em;
    font-weight: 700;
    color: black;
}

.title.white{
    color: white;
}
.title.center{
    text-align: center;
    
}
.subtitles{
    font-size: 2.5rem;
}
.center{
    text-align: center;
}
h2{
    font-size: 1.2em;
    color: black;;
}
.white{
    color: white!important;
}
p{
    font-size: 1em;
    color: black!important;
    font-weight: 500;
}

.copy-container{
    width: 50%;
}

.img-container{
    width: 50%;
}
/*Shapes*/

.circle{ 
    width: 16em;
    height: 16em;
    -moz-border-radius: 50%; 
    -webkit-border-radius: 50%; 
    border-radius: 50%;
    position: absolute;
    z-index: -1;
    animation: floating 10s alternate-reverse  infinite;
}
.circle.red{
    
    background-color: var(--colorRed);
    animation: floating 5s alternate  infinite;
}

.circle.green{
    
    background-color: var(--colorGreen);
    animation: floating 5s alternate  infinite;
}

.circle.yellow{
    
    background-color: var(--colorYellow);
    animation: floating 7s alternate  infinite;
}
.circle.BlueSky{
    
    background-color: var(--colorBluesky);
    animation: floating 9s alternate  infinite;
}
.circle.big{
    width: 50em;
    height: 50em;
}
.triangle{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 13em 20em 13em 0;
    position: absolute;
    z-index: -4;
    animation: rotate 30s alternate  infinite;
}

.triangle.green{
    border-color: transparent var(--colorGreen) transparent transparent;

}

.triangle.yellow{
    border-color: transparent var(--colorYellow) transparent transparent;

}

.icon{
    width: 35px;
    height: 35px;
}
.icon.user{
    width: 106px;
    height: 106px;
}

.icon.x2{
    width: 47px;
    height: 47px;
}
@media screen and (max-width:820px){
    .container.flex{
        flex-direction: column;
    }
    .img-container,.copy-container{
        width: 100%!important;
    }
}
@media screen and (max-width:1025px) {
    :root{
        --paddingContainer: 1em
    }
}
@media screen and (max-width:1025px){
    .triangle{
        border-width: 8em 12em 8em 0;
    }
    .circle {
        width: 12em;
        height: 12em;
    }
}
/*animations*/

.btn:hover{
    transform: scale(1.1);
}

@keyframes rotate {
    form{
        rotate: 0deg;
    }
    to{
        rotate: 360deg;
    }
}

@keyframes floating {
    0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(clamp(100px, 20px, 50px));
	}
	100% {
		transform: translatey(0px);
	}
}

 .cursor{
    cursor: pointer;
 }
<<<<<<< HEAD

 .align-center{
    text-align: center;
 }

 .align-left{
    text-align: left;
 }

 .z-index-2{
    position: relative;
    z-index: 2;
 }

 .subtitles{
    font-size:2.5rem;

 }
 .subtitles.colorBlack{
    color: black;
 }
=======
 .flex.center.center {
    align-items: center;
    gap: 2rem;
}
>>>>>>> d989a2a5e37685f9be05ebe2d73760bbe9608f36
