header{
    position: absolute;
    width: 100%;
    z-index: 2;
}
.menu--items{
    gap: 3em;
}

.menu--items > *{
    font-weight: 700;

}
.menu--items .item a{
    color: white;
}
.logo__container img{
    max-width: 10em;

}
@media screen and (max-width:575px) {
    header .container{
        flex-direction: column;
    }
    .logo__container{
        width: 40%;
        margin: auto;
    }
    .menu__container{
        display: none;
    } 
  
}
/* animations
*/

header .item {
    color: inherit;
    text-decoration: none;
  }
  
  header .item {
    background:
      linear-gradient(
        to right,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0)
      ),
      linear-gradient(
        to right,
        rgb(255, 255, 255),
        rgb(255, 255, 255),
        rgb(255, 255, 255)
    );
    background-size: 100% 3px, 0 3px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
  }
  header li{
    transition: all .5s ease-in-out;
  }
  header .item:hover {
    background-size: 0 3px, 100% 3px;
  }
  header .menu--items li:last-child:hover{
      transform: scale(1.1);

  }
