header{
    position: absolute;
    width: 100%;
    z-index: 2;
}
.menu--items{
    gap: 3em;
}

.menu--items > *{
    font-weight: 700;

}
.menu--items .item a{
    color: white;
}
.logo__container img{
    max-width: 10em;

}
@media screen and (max-width:806px) {

.menu--items{
  display: none;
  position: absolute;
  flex-direction: column-reverse;
  top: 25px;
  right: 0;
  width: max-content;
  height: 100vh;
  background-color: white;
  box-shadow: -6px 4px 86px -7px rgba(206,206,206,0.75);
  -webkit-box-shadow: -6px 4px 86px -7px rgba(206,206,206,0.75);
  -moz-box-shadow: -6px 4px 86px -7px rgba(206,206,206,0.75);
  z-index: 5;
  padding: 2em;
  justify-content: start;
  border-radius: var(--borderRadius);
}
.menu__container{
  position: relative;
}
.menu--items.active{
  display: flex;
}
}
@media screen and (max-width:575px) {

    .logo__container{
        width: 40%;
        margin: auto;
    }
     
    header .item a{
      color: var(--colorBlueDark)!important;

    }
}
/* animations
*/

header .item {
    color: inherit;
    text-decoration: none;
  }
  
  header .item {
    background:
      linear-gradient(
        to right,
        rgba(230, 226, 2, 0),
        rgba(231, 228, 5, 0)
      ),
      linear-gradient(
        to right,
        rgb(255, 255, 255),
        rgb(255, 255, 255),
        rgb(255, 255, 255)
    );
    background-size: 100% 3px, 0 3px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
  }
  header li{
    transition: all .5s ease-in-out;
  }
  header .item:hover {
    background-size: 0 3px, 100% 3px;
  }
  header .menu--items li:last-child:hover{
      transform: scale(1.1);

  }
