main{

    position: relative;
    overflow: hidden;
}
main .container{
   padding-top: 10em;
   padding-bottom: 0;
}

.img-container{
 position: relative;
}
.img-container img{
    position: absolute;
    bottom: 0;
    width: 95%;
    right: 0;
}
.img-container .title{
    position: absolute;
    background-color: white;
    border-radius: var(--borderRadius);
    padding: .5rem 1rem;
    bottom: 35%;
    left: -40%;
    box-shadow: -1px 2px 41px -19px rgba(134,134,134,0.75);
    -webkit-box-shadow: -1px 2px 41px -19px rgba(134,134,134,0.75);
    -moz-box-shadow: -1px 2px 41px -19px rgba(134,134,134,0.75);
    transition: .5s all ease-in-out;
    transition-delay: 1s, 250ms;
    z-index: -1;



}

.img-container .title h2{
    font-size: 1.7rem;
    color: var(--colorBlueDark);
    margin: 0;
}
.img-container .title p{
    font-size: 0.9rem;
    color: black;
    margin: 0;
}
main .container .copy-container{
    margin-bottom: 5em;

}
main .container .copy-container p{
    margin-bottom: 1em;
    
}
main .container .copy-container .btn{
    display: inline-block;
}
main .container .copy-container p{
    margin-bottom: 1em;
}

main .circle{
    position: absolute;
    top: -14em;
    right: -9em;
    width: 50em;
    height: 50em;
    z-index: -2;
}

main .triangle{
    position: absolute;
    bottom: -15em;
    left: -36.5em;
    width: 40em;
    height: 40em;
    transform: rotate(330deg);
    z-index: -1;
}

main .circlePulso {
    width: 20px;
    height: 20px;
    background: var(--colorYellow);
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    z-index: -1;
  }
  
  main .circlePulso::before, .circlePulso::after {
    content:"";
    position:absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    width: 20px;
    height: 20px;
    border: 10px solid var(--colorYellow);
    border-radius:100%;
    animation: latido linear 3s infinite;
  }
  
  main .circlePulso::after {
    animation-delay: -1.5s;
  }
  
  @keyframes latido {
    0% { width:30px; height:30px; border:3px solid rgb(155, 155, 155); }
    100% { width:70px; height:70px; border:1px solid transparent; }
  }
  
@media screen and (min-width:1600px) {
    main .circle {
        width: 55em;
        height: 55em;
    }
}
@media screen and (max-width:1025px) {
    main .circle {

        top: -20em;
        right: -12em;
        width: 47em;
        height: 47em;
    }
    .service-container h2{
        font-size: 1em;
    }
    .service-container p{
        font-size: .7em;
        
    }
}

@media screen and (max-width:769px) {
    main .circle {
        top: -20em;
        right: -17em;
    }
}

@media screen and (max-width:575px) {
    main .img-container {
        width: 60%;
    }
    main .circle {
        top: -37em;
        right: -8em;
    }
    main .triangle {
        left: -37.5em;
    }
    main .container{
        flex-direction: column;
        width: 100%;
    }

    main .copy-container{
        width: 100%;
    }
    main .img-container {
        width: 55%;
        margin: 0 0 0 auto;
    }
    .img-container .title{
        width: 100vw;
        z-index: 1;
        left: -95%;
    }
    .img-container .title h2{
        font-size: 1rem;
    }
    .img-container .title p{
        font-size: 0.65rem;

    }
}

@media screen and (max-width:426px) {
    
    main .img-container img{
        width: 100%;
    }
    main .circle {
        right: -10em;
    }
}
@media screen and (max-width:321px) {
    main .circle {
        right: -13em;
    }
}

  