.reviews{
    position: relative;
}
.reviews .triangle{
    position: absolute;
    bottom: -28%;
    left: -24%;
    transform: rotate(65deg);
}
.reviews .container{
    gap: 2rem;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.review-container{
    padding: 2em;
    border-radius: var(--borderRadius);
    background-color: white;
    min-height: 12em;
    box-shadow: 1px 2px 5px 6px rgba(124,124,124,0.1);
    -webkit-box-shadow: 1px 2px 5px 6px rgba(124,124,124,0.1);
    -moz-box-shadow: 1px 2px 5px 6px rgba(124,124,124,0.1);
    max-width: 28em;
    min-width: 25rem;
   
} 
.review-container h3{
    margin-bottom: 4em;
    min-height: 14em;
}
.review-container .info-container{
    align-items: center;
    width: 80%;
}
.info-container img{
    width: 80px;
    height: 80px;
    margin-right: 1.5em;
    border-radius: 50%;
}

.start-container span{
    color: var(--colorYellow);
    font-size: 1.2em;
}
.start-container p{
    margin: 0;
    min-height: 4em;
}

@media screen and (max-width:575px) {
    .review-container{
        min-width: 100%
    }
    .reviews .container{
        grid-template-columns: repeat(auto-fill,minmax(100vw,1fr));
    }

    .info-container img {

        margin-right: 0;

    }
    .info-container{
        flex-direction: column;
        gap: 1em;
        text-align: center;
        margin: 0 auto;

    }
}

/*review*/
  .youtube-player {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #000;
    margin: 5px;
  }
  
  .youtube-player iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: transparent;
  }
  
  .youtube-player img {
    object-fit: cover;
    display: block;
    left: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    height: auto;
    cursor: pointer;
    -webkit-transition: 0.4s all;
    -moz-transition: 0.4s all;
    transition: 0.4s all;
  }
  
  .youtube-player img:hover {
    -webkit-filter: brightness(75%);
    -moz-filter: brightness(75%);
    filter: brightness(75%);
  }
  
  .youtube-player .play {
    height: 48px;
    width: 68px;
    left: 50%;
    top: 50%;
    margin-left: -34px;
    margin-top: -24px;
    position: absolute;
    background: url("https://i.ibb.co/j3jcJKv/yt.png") no-repeat;
    cursor: pointer;
  }
  .reviews{
    position: relative;
  }
  /* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: var(--colorBlueDark);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: var(--colorYellow);
  }
  