.section-3-WeAreYourTrusted.lineargradiend{
    background: linear-gradient(159deg, #FFC4B9 0%, #FFF1B9 100%);
}
.section-3-WeAreYourTrusted .copy-container{
    width: 70%;
    margin: auto 0;
}

.section-3-WeAreYourTrusted .copy-container p{
    padding-bottom: 3em;
    padding-top:0 ;
    margin: 0;
    max-width: 90%;
}

.img-container-sect-3{
    width: 45%;
}
@media screen and (max-width:575px) {
    .section-3-WeAreYourTrusted .container{
        flex-direction: column;
    }
    .section-3-WeAreYourTrusted .copy-container, .section-3-WeAreYourTrusted .copy-container p, .img-container-sect-3{
        width: 100%;
        max-width: 100%;
    }
}