.services{
    background-color: #EAF6FD;
    position: relative;
    width: 100%; 
    min-height: 11.3rem;
   }
   .services .container{
       gap: 2.5em;
       grid-template-columns: repeat(auto-fill, minmax(25%,1fr ));
       width: 100%;
   }
   .services .container h2, .services .container  p{
        margin: 0;
        color: black;
   }
   .services .container  p{
    font-size: 0.9em;
}
   .service-container{
       padding: .5em;
       background-color: transparent;
       border-radius: var(--borderRadius);
       width: 80%;
       text-align: center;
       border:3px solid #67CDE3;
       max-width: 18.75rem;
       height:6rem ;
    }
    .service-container a{
        gap: 0!important;
    }
    .service-container{
        transition: 1s all ease-in-out;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
   }
   .service-container:hover{
       /* transform: scale(1.1);*/

   }
   .service-container h2{

        position: relative;
        transition: 1s all ease;
        right: -100%;
        width: 0;
        font-size: 1rem;
        font-weight: 500;
        max-height: 4rem;

   }
   .service-container img{
        transition: ease all 1s;
        max-width:9rem;
        
    }
  
   .service-container:hover img{

        width: 30%!important;
        max-width:6rem ;
        margin-right: 2rem;
        max-width:6rem 
        
    }
    .service-container:hover h2{
       right: 0!important;
        text-align: left;
        width: 70%!important;
   }
   @media screen and (max-width:769px) {
       .service-container{
           min-height: 5.5em;
       }
       .service-container h2{
           font-size: 0.8em;
       }
   }
   
   
   
   @media screen and (max-width:575px) {
       .services{
           overflow-x: scroll;
       }
       .services .container {
           width: 53em;
           top: 0;
       }
   }
