.services{
    background-color: #EAF6FD;
    position: relative;
    width: 100%; 
    min-height: 11.3rem;
   }
   .services .container{
       gap: 2.5em;
       grid-template-columns: repeat(auto-fill, minmax(20%,1fr ));
       width: 100%;
   }
   .services .container h2, .services .container  p{
        margin: 0;
        color: black;
   }
   .services .container  p{
    font-size: 0.9em;
}
   .service-container{
       padding: .5em;
       background-color: transparent;
       border-radius: var(--borderRadius);
       width: 100%;
       text-align: center;
       border:3px solid #67CDE3;
       max-width: 18.75rem;
    }
    .service-container{
        transition: .5s all ease-in-out;
        display: flex;
        align-items: center;
   }
   .service-container:hover{
        transform: scale(1.1);

   }
   
   @media screen and (max-width:769px) {
       .service-container{
           min-height: 5.5em;
       }
       .service-container h2{
           font-size: 0.8em;
       }
   }
   
   
   @media screen and (max-width:575px) {
       .services{
           overflow-x: scroll;
       }
       .services .container {
           width: 53em;
           top: 0;
       }
   }
