.page-services{
    /*background-color: #EFEFEF;*/
    position: relative;
    overflow: hidden;
}
.page-services .container{
    padding-bottom: 0;
    padding-top: 0;
}
.page-services .copy-head.grid{
    gap: 0;
}
.page-services .copy-head img{
    width: 80%;
}
.copy-head h1{
    margin-top: 0;
    margin-bottom: 0;
}
.copy-head p{
    margin-top: 0;
}
.copy-head > *{
    text-align: center;
}
.copy-head .btn{
    margin: 0 auto;
}

.page-services .circle.BlueSky.big{
    width: 33em;
    height: 33em;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 0;
}
.page-services .circle.BlueSky{
    bottom: 10%;
    right: 10%;
    width: 10em;
    height: 10em;
}

.page-services .circle.red{
    top: 30%;
    left: 20%;
    width: 5em;
    height: 5em;
}
/* about services
*/

.about-service{
    background-color: var(--colorGreen);
}

.about-service.ThreeD{
    background-color: var(--colorYellow);
}
.about-service .item{
    place-items: center;
}

.about-service .container-copy h2{
   margin-top: .5em;
}

.about-service > *, .about-service p,.about-service h2{
    color: white;
}
.about-service .container-copy, .about-service .container-img
.call-to-action-v2 .container-copy, .call-to-action-v2 .container-img
{   
    position: relative!important;
    width: 40%;
}
.call-to-action-v2 .container-copy{
    position: relative!important;
}
.call-to-action-v2 .container-copy .circle.green{
    width: 3em!important;
    height: 3em;
    left: 0;
    bottom: 0;
    
}

.call-to-action-v2 .container .container-img .circle.red{
    width: 3em;
    height: 3em;
    bottom: 15%;
    left: 8%;
    z-index: 2;
}
.call-to-action-v2 .container .container-img .circle.BlueSky{
    width: 3em!important;
    height: 3em;
    right: 0;
    bottom: 0;
}
.about-service  .container.grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(14em,1fr));
    overflow-x: auto;
    gap: 2em;
    justify-content: center;
    overflow-y: hidden;
    padding: 0;
    place-items: flex-start;

}
.sub-container-services{

    transition: .5s all ease-in-out;
    cursor: pointer;
    z-index: 2;
    width: 100%;
    padding: .5em;
}
.sub-container-services:hover{
    background-color: white;
    border-radius: var(--borderRadius);
    color: var(--colorGreen);
}
.sub-container-services:hover .container-icon{
    background-color: var(--colorGreen);
    background-repeat: no-repeat;
} 

.sub-container-services:first-child:hover .container-icon img{
    content: url("../icons/Social\ Media\ Specialist\ \(1\).svg");
   
}
.sub-container-services:nth-child(2):hover .container-icon img{
    content: url("../icons/Content\ Calendar.svg");
   
}
.sub-container-services:nth-child(3):hover .container-icon img{
    content: url("../icons/Copywriter.svg");
   
}
.sub-container-services:last-child:hover .container-icon img{
    content: url("../icons/Social\ Media\ Monitoring.svg");
   
}

.sub-container-services, .about-service h3{
    text-align: center;
    
    
}
.about-service h3{
    margin-top: 0;
    padding-top: 2em;
    font-size: 1.5em;
    margin-bottom: 0;

}

.about-service .container-copy h2{
    font-size: 1.5em;
}
.container-icon{
    display: inline-block;
    width: 7em;
    height: 7em;
    border-radius: 50%;
    background: white;
    padding: 1.5em;
    margin-right: 1em;
}

.call-to-action-v2 .container{
    place-items: center;
}

.call-to-action-v2 h2 {
    font-size: 1.5em;
    color: var(--colorlightGrey);
    margin-bottom:2.5em;
    text-align: right;
}

.call-to-action-v2 .btn {
    display: inline-block;
}

.btn-container{
    justify-content: end;   
}
.contact-us {
    background-color: var(--colorBluesky);
    color: white;
}
.contact-us .container-copy{
    width: 60%;
}
.contact-us .container-copy p{
    color: white;

}
.contact-us .container-img{
    width: 40%;
    position: relative;
    z-index: 2;
}

.container-img .circle.green{
    width: 5em;
    height: 5em;
    position: absolute;
    z-index: 1;
    top: 25%;
    right: 0;
}

.container-img .circle.yellow{
    width: 3em;
    height: 3em;
    position: absolute;
    z-index: 1;
    bottom: 25%;
}

#contact-us{
    width: 75%;
}
#contact-us input,#contact-us textarea,#contact-us ::placeholder,.forminator-checkbox-label{
    background-color: transparent!important;
    border-color: white!important;
    color: white!important;
    
}

#contact-us .forminator-ui#forminator-module-116.forminator-design--default .forminator-label{
    display: block!important;
    color: white;
    margin-left: .5em;
    font-size: 1.1em;
}

#contact-us .forminator-checkbox-label{
    color: white!important;
}

.about-service .container-copy{
    width: 30%;
    margin: auto 0;

}
.about-service .container-img{
    width: 50%;
}

.sub-container-services h4{
    max-height: max-content;
}
.sub-container-services{
  position: relative;
  display: flex;
  align-items: center;
}
.overlay{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
}

@media screen and (max-width:919px) {
    .about-service  .container.grid{
        justify-content: flex-start;
    
    }
    
}
@media screen and (max-width:600px) {
    .about-service .container.grid {
        flex-direction: inherit;
    }
    .about-service .container, .call-to-action-v2 .container, .contact-us .container {
        flex-direction: column;
    }

    .about-service .container-copy, .about-service .container-img,.call-to-action-v2 .container-img,.contact-us .container-copy, .contact-us .container-img {
        width: 100%;
    }
    .container-copy .btn-container {
        justify-content: center;
    }
    #contact-us{
        width: 100%;
    }


}



#btn-readmore{
    display: none;
}
#btn-readmore.active{
    display: inline-block;
}

.service-page  table th:nth-child(5), .service-page  table th:nth-child(4){
    width: 20%;
}

.service-page  table th:nth-child(2){
    background-image: none;
    background-color: var(--colorGreen);
    border-radius: var(--borderRadius);
    margin-left: 1em;
    border-spacing: 5px 1rem;
    color: white;
    border-right: 5px solid white
}
.service-page  table th:nth-child(3){
    background-image: none;
    background-color: var(--colorRed);
    border-radius: var(--borderRadius);
    color: white;
    border-right: 5px solid white
}
.service-page  table th:nth-child(4){
    background-image: none;
    background-color: var(--colorBluesky);
    border-radius: var(--borderRadius);
    color: white;
    border-right: 5px solid white
}
.service-page  table th:nth-child(5){
    background-image: none;
    background-color: var(--colorYellow);
    border-radius: var(--borderRadius);
    color: white;
    border-right: 5px solid white
}

.service-page  table tr td:nth-child(2){
    background-color: #EFF6E1;
    
}
.service-page  table tr td:nth-child(3){
    background-color: #FDE9E4;
    
}
.service-page  table tr td:nth-child(4){
    background-color: #E0F4FD;
    
}
.service-page  table tr td:nth-child(5){
    background-color: #FEF5E0;
    color: black;
    
}


   /*
   SIMPLE BEFORE & AFTER IMAGE COMPARISON SLIDER 
   */

   /* SIMPLE BEFORE & AFTER IMAGE COMPARISON SLIDER 

Original JS function forked from Josetxu

---> https://codepen.io/josetxu/pen/mJbmZY

Responsive before and after image comparison slider. Vanilla Javascript and minimal markup.

Slider and background image dimensions set as aspect ratio.

Photo is a restoration for a friend. Original - source photo was a
tiny, low resolution JPG she found on Ancestry. Necessity taught me some amazing photo restoration tricks when hurricane Katrina put the hurt on New Orleans. I got stories.  */


:root {
    /* Set aspect ratio for .before-after-container.  
       Background images need to be same aspect ratio as container in pixels. 
       Handy tool to get aspect ratio for any image dimension.
    
      ---> https://www.digitalrebellion.com/webapps/aspectcalc
    
    Aspect Ratios on CSS Tricks
     ----> https://css-tricks.com/almanac/properties/a/aspect-ratio/
    
       */
  
    --before-after-aspect-ratio: 1 / 1;    /* <--- Square 1080px x 1080px */
  
    /* Before and After Images */
    --before-image: url('../images/object\ removal\ simple\ -\ before.jpg');
    --after-image: url('../images/object\ removal\ simple\ -\ after.jpg');
  
    /** **************
  
    /* Before After Container Background Color  */
    --before-after-background-color: var(--colorYellow);
  }
  
  .before-after-container {
    aspect-ratio: var(--before-after-aspect-ratio);
    background: var(--before-after-background-color);
    width: 100%;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    height: 100%;
  }
  .before-after-container figure {
    background-image: var(--after-image);
    position: relative;
    margin: 0;
    background-size: cover;
    width: 100%;
    height: 67%;
  }
  #before_after {
    background-image: var(--before-image);
    background-size: cover;
    bottom: 0;
    border-right: 5px solid rgba(255, 255, 255, 0.7);
    box-shadow: 10px 0 15px -13px #000;
    height: 100%;
    max-width: 100%;
    min-width: 0.6%;
    overflow: visible;
    position: absolute;
    width: 50%;
    animation: first 2s 1 normal ease-in-out 0.1s;
    -webkit-animation: first 2s 1 normal ease-in-out 0.1s;
  }
  input#before_after_slider {
    -moz-appearance: none;
    -webkit-appearance: none;
    border: none;
    background: transparent;
    cursor: col-resize;
    height: 100vw;
    left: 0;
    margin: 0;
    outline: none;
    padding: 0;
    position: relative;
    top: -100vw;
    width: 100%;
  }
  input#before_after_slider::-moz-range-track {
    background: transparent;
  }
  input#before_after_slider::-ms-track {
    border: none;
    background-color: transparent;
    height: 100vw;
    left: 0;
    top: -100vw;
    width: 100%;
    margin: 0;
    padding: 0;
      outline: none;
    position: relative;
    cursor: col-resize;
    color: transparent;
  }
  input#before_after_slider::-ms-fill-lower {
    background-color: transparent;
  }
  input#before_after_slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 100vw;
    width: 0.5%;
    opacity: 0;
  }
  input#before_after_slider::-moz-range-thumb {
    -moz-appearance: none;
    height: 100vw;
    width: 0.5%;
    opacity: 0;
  }
  input#before_after_slider::-ms-thumb {
    height: 100vw;
    width: 0.5%;
    opacity: 0;
  }
  input#before_after_slider::-ms-tooltip {
    display: none;
  }
  #before_after::before {
    background: url('../icons/slider.png') no-repeat
      scroll 0 center transparent;
    background-size: contain;
    content: " ";
    float: right;
    height: 100%;
    margin-right: -34px;
    position: relative;
    top: 0;
    width: 64px;
  }
  @keyframes first {
    0% {
      width: 0%;
    }
    50% {
      width: 80%;
    }
    100% {
      width: 50%;
    }
  }
  @-webkit-keyframes first {
    0% {
      width: 0%;
    }
    50% {
      width: 80%;
    }
    100% {
      width: 50%;
    }
  }
  
  
  @media only screen and (max-width: 980px) {
  
    .two-column-grid {
      grid-template-columns: 1fr;
    }
}
.container-label_beforeAfter{
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    padding: .5em;
    margin: auto 0;
    bottom: 0;
}
.label_beforeAfter{
    padding: .5em;
    background: rgb(0 0 0 / 50%);
}

.container-copy .container-img{
    width: 100%;
}

.about-service.PPC{
    background-color: var(--colorBluesky);
}
.about-service.PPC .sub-container-services:hover {
    background-color: white;
}
.about-service.PPC .sub-container-services:hover .container-icon{
    background-color: var(--colorBluesky);
}

.about-service.PPC .sub-container-services h4 {
    color:white;
}
.about-service.PPC .sub-container-services:hover h4 {
    color: var(--colorBluesky);
}

.about-service.PPC .sub-container-services:first-child:hover .container-icon img{
    content: url("../icons/Customized\ strategy\ and\ ad\ copy\ creation\ -white.svg");
}
.about-service.PPC .sub-container-services:nth-child(2):hover .container-icon img{
    content: url("../icons/ContinuesOptimization-white.svg");
}
.about-service.PPC .sub-container-services:last-child:hover .container-icon img{
    content: url("../icons/ResultsReporting-white.svg");
}

.about-service.ThreeD .sub-container-services h4{
    color:white;
}
.about-service.ThreeD .sub-container-services:hover h4{
    color: var(--colorYellow);
}
.about-service.ThreeD .sub-container-services:hover .container-icon{
    background-color: var(--colorYellow);
}
.about-service.ThreeD .sub-container-services:first-child:hover .container-icon img{
    content: url("../icons/Digital\ Photo\ Touch-Ups-white.svg");
}
.about-service.ThreeD .sub-container-services:nth-child(1):hover .container-icon img{
    content: url("../icons/3D\ \ Services-white.svg");
}
.about-service.ThreeD .sub-container-services:nth-child(3):hover .container-icon img{
    content: url("../icons/2D\ \ Services-white.svg");
}
.about-service.ThreeD .sub-container-services:last-child:hover .container-icon img{
    content: url("../icons/Virtual\ Staging\ Video-white.svg");
}

.voov-the-choice.service-page .container .head-container h2{
    width: 40%;
}

.voov-the-choice.service-page table tr td:last-child{
    color: #000;
}
.voov-the-choice.service-page table tr td{
    border-right: 6px white solid;
}
.voov-the-choice .container
{
 overflow-x: auto;
}
.voov-the-choice.service-page table th,.voov-the-choice.service-page table th:last-child{
    width: 10em!important
}

.voov-the-choice.service-page table th:nth-child(1) {
    width: 50%!important
}

.voov-the-choice.service-page.threeD table th:nth-child(1){
    width: 70%!important;

}
.voov-the-choice.service-page.threeD table th:nth-child(2){
    background-color: var(--colorYellow);
}

.voov-the-choice.service-page.threeD table tr td:nth-child(2){
background-color: rgba(250, 177, 0, 0.3);
}