.Our-Clients .grid{
    grid-template-columns: repeat(auto-fill, minmax(11rem,1fr));
}
.Our-Clients img{
    height: fit-content;
    width:13rem ;
    filter: grayscale(100%);
    transition: all ease-in .1s ;
}
.Our-Clients img:hover{
    filter: grayscale(0%);
}
.Our-Clients picture{
    margin-top: 2rem;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
}
.testimonial{
    background-color: var(--colorYellow);
    border-radius: 0 25em 0 20em;
    margin-bottom: 5em;
    position: relative;
}

.testimonial .container{
    padding-top: 8em;
    padding-bottom: 8em;
    justify-content: space-evenly;
    align-items: center;
}

.testimonial .container .img-container{
    position: relative;
    height: 20em;
}   
.testimonial .copy-container{
    width: 35%;
}
.testimonial .copy-container h2, .testimonial .copy-container p{
    color: white;
}
.testimonial iframe{
    aspect-ratio: 16 / 9;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
}
.testimonial .cont1, .testimonial .cont2{
    position: absolute;
    height: 20em;
    width: 100%;
}
.testimonial .cont1{
    z-index: 2;
    width: 100%;
}
.testimonial .cont1 div {
display: none!important;
}

.testimonial .cont1 div:last-child {
    display: block!important;
}





@media screen and (max-width:769px) {
    .testimonial .container{
        flex-direction: column;
    }
    .testimonial .copy-container,  .testimonial .img-container{
        width: 100%;
    }
}

.icon-container{
    background-color: white;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    place-content: center;
    cursor: pointer;
    transition: all .5s ease-in-out;
    display: none;
}

.icon-container:hover{
    transform: scale(1.1);
}

.icon-container img{
    width:40%;
}
.remove{
    transition: all .5s ease-in-out;
    animation: remove .5s;

}
@keyframes remove {
    from{
        transform: translateX(0);
        opacity: 1;
    }
    to{
        transform: translateX(100px);
        opacity: 0;

    }
}
.cont1{

    position: absolute;
}
.cont2{

    position: absolute;
}

.testimonial .circle.red{
    right: 0;
    top: 0;
}
.testimonial .triangle.green{
    bottom: 0;
    top: 0;
    margin: auto 0;
    left: 0;
}