.voov-the-choice table{
    margin: 0 auto;
    width: 100%;
    border-spacing: 0;
}
.voov-the-choice table th:nth-child(2) img{

}
.voov-the-choice table th:last-child{
    border-spacing: .5em;
    background-color: var(--colorlightGrey);
    border-radius: var(--borderRadius);
    color: white;
    text-transform: uppercase;
}
.voov-the-choice table td{
    text-align: center;
}
.voov-the-choice table  .align-left{
    text-align: left;
    padding: 2em;
}
.voov-the-choice table th:nth-child(1){
    width: 50%;
}
.voov-the-choice table th:nth-child(2){
    background-image: url('../images/internal\ mini\ banner.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: var(--borderRadius);
    height: 6em;
    margin-right: .5em;
}
.voov-the-choice table th:nth-child(2),.voov-the-choice table th:nth-child(3){
    width: 20%;
    max-width: 25em;
    min-width: 10em
}
.voov-the-choice table tr:nth-child(even) {
    background-color:rgba(125, 125, 125, 0.05);
}

@media screen and (max-width:575px) {
    .voov-the-choice{
        overflow-x: scroll;
    }
}